<html
  lang="en"
  data-layout="horizontal"
  data-layout-style=""
  data-layout-position="fixed"
  data-topbar="light"
>
  <head>
    <meta charset="utf-8" />
    <title>CRM - </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      content="Premium Multipurpose Admin & Dashboard Template"
      name="description"
    />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/images/logoo.png" />

    <!-- plugin css -->
    <link
      href="/assets/libs/jsvectormap/css/jsvectormap.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Layout config Js -->
    <script src="/assets/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link
      href="/assets/css/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Icons Css -->
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="/assets/css/custom.min.css" rel="stylesheet" type="text/css" />

    <script src="/javascripts/axios.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.6.3.min.js"
    integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
    crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <!-- <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script> -->
    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/super-build/ckeditor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
      rel="stylesheet"
    />
    
    <style>
      .app-search .form-control::placeholder {
        color: #222 !important;
      }
      .navbar-header .btn-topbar i {
        color: #fff !important;
      }
      .navbar-header .user-name-text {
        color: #fff !important;
      }
      .topbar-user {
        background-color: #222 !important;
      }
      .topbar-user .user-name-sub-text {
        color: #fff !important;
      }
      .app-search .form-control {
        color: #e6470f;
        border: 1px solid rgb(230 71 15);
        background: #ffff;
      }

      .select2-selection__rendered {
          line-height: 36px !important;
      }
      .select2-container .select2-selection--single {
          height: 39px !important;
      }
      .select2-selection__arrow {
          height: 40px !important;
      }
      .select2-container--default .select2-selection--single .select2-selection__clear {
        height: 39px!important;
      }
      .select2-container .select2-search--inline .select2-search__field {
        height: 27px!important;
        margin-left: 18px!important;
      }
      .max-z-index {
          z-index: 99999;
      }
    </style>
  </head>

  <body>
    <!-- Begin page -->

    <%- include('./top-bar'); %>
    <!-- ========== App Menu ========== -->
    <%- include('./menu-bar'); %>
    <!-- Left Sidebar End -->
    <!-- Vertical Overlay-->
    <div class="vertical-overlay"></div>

